<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Nusa Academy </title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  <link rel="icon" type="image/png" sizes="16x16"
        href="../static/images/ncc.png">
    <link rel="stylesheet" href="../static/stylecopy.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="../">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
    <link rel="stylesheet" href="../static/stylecard.css">
    <link rel="stylesheet" href="../static/sidebarCard.css">

    <script src="../static/Homescript.js"></script>
    <script src="../static/klscript.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="../static/Myhome.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        $(document).ready(function () {
            $('.read-more-btn').on('click', function () {
                $(this).prev('.description').toggleClass('expanded');
                $(this).toggleClass('less');
            });
        });
        //initialize wow.js
        document.addEventListener('DOMContentLoaded', function () {
            new WOW().init();
            console.log('wow.js initialized');
        });

        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Bootstrap components
            var dropdownTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="dropdown"]'));
            var dropdownList = dropdownTriggerList.map(function (dropdownTriggerEl) {
                return new bootstrap.Dropdown(dropdownTriggerEl);
            });
        });

        $(document).ready(function () {
            $("#class").submit(function (e) {
                e.preventDefault()
                var dataSend = $("#class").serialize();

                $.ajax({
                    type: "POST",
                    url: "/tambah_kelas",
                    data: dataSend,
                    dataType: 'html',
                    success: function (response) {
                        Swal.fire({
                            title: 'Berhasil Dikirim!',
                            text: 'Good',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        })
                        $('div#class')[0].reset();

                    },
                });
            });

            filterClasses('all');
        });


        function filterClasses(category) {
            var classes = $('.col-md-4');
            classes.each(function () {
                var cls = $(this);
                if (category === 'all' || cls.data('category') === category) {
                    cls.fadeIn(3000); // animate over 1000 milliseconds, or 1 second
                } else {
                    cls.fadeOut(1000); // animate over 1000 milliseconds, or 1 second
                }
            });
        }
        function logout() {
            $.removeCookie('mytoken', { path: '/' });
            Swal.fire({
                title: 'Log Out',
                text: 'Sign Out.',
                icon: 'success',
                confirmButtonText: 'Ok'
            })
            window.location.href = "/login";
        }

        // Panggil fungsi logout saat tombol logout diklik
        $(document).ready(function () {
            $('#logout-button').click(function () {
                logout();
            });
        });

        $(document).ready(function () {
            $(".delete-button").on("click", function () {
                var classId = $(this).closest(".delete-form").data("class-id");

                // Mendapatkan CSRF token dari cookie
                var csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)csrf_token\s*=\s*([^;]*).*$)|^.*$/, "$1");

                $.ajax({
                    type: "POST",
                    url: "/delete_class",
                    data: {
                        id: classId,
                        csrf_token: csrfToken  // Mengirim CSRF token bersamaan dengan permintaan
                    },
                    success: function (response) {
                        Swal.fire({
                            title: 'Penghapusan',
                            text: 'good.',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        })
                        // Tindakan setelah penghapusan berhasil, misalnya, memuat ulang daftar materi
                        window.location.reload();
                    },
                });
            });
        });

    </script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

        :root {
            --main-red-rgb-015: rgba(189, 21, 11, 0.1);
            --main-black: #110f16;
            --gradient: linear-gradient(to right, var(--main-black), var(--main-red-rgb-015));
            --background-image: linear-gradient(30deg, var(--main-blue-rgb-015), transparent 50%);
            --main-red-rgb-015: rgba(189, 21, 11, 0.1);
            --dark: #110f16;

        }

        * {
            font-family: 'Nunito', sans-serif;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .fadeInUp {
            animation: fadeInUp 1s ease-in-out;
        }

        /* Define the slide-in animation */
        @keyframes slideIn {
            from {
                transform: translateX(-100%);
                opacity: 0;
            }

            to {
                transform: translateX(0);
                opacity: 1;
            }
        }

        /* Apply the slide-in animation to each box */
        .box {
            animation: slideIn 4s ease-out;
            /* Adjust the duration and timing function as needed */
        }

        .content,
        .btn {
            animation: slideIn 2s ease-out;
        }

        /* Gaya normal */
        .btn-primary-gradient {
            background: linear-gradient(to right, #4e54c8, #8f94fb);
            color: #fff;
        }

        /* Gaya hover */
        .btn-primary-gradient:hover {
            background: #fff;
            color: #fff
        }

        /* Ukuran font tambahan */
        .btn-primary-gradient {
            font-size: 18px;
            /* Sesuaikan dengan ukuran yang Anda inginkan */
        }

        body {
            height: 80rem;
            background: var(--dark)
        }

        .text-dark {
            text-decoration: none;
        }

        .card {
            margin: 10px;
        }

        .judul {
            margin-top: 10rem;
            color: #fff;
        }

        .judul-kelas {
            color: #fff;
            margin: auto;
            padding: 10px;
            font-weight: lighter;
        }
    </style>

</head>

<body>

    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <header>
        {% if user_info and user_info.role == 'admin' %}
        <a href="/" class="logo">
            <img src="../static/images/ncc.png" alt="Logo">
        </a>
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul id="nav-links" class="nav-links">
                <li><a href="/" class="fw-bolder">Home</a></li>
                <li><a href="/about" class="fw-bolder">About</a></li>
                <li><a href="/mentor" class="fw-bolder">Mentor</a></li>
                <li><a href="/materi" class="fw-bolder">Matery</a></li>
                <li><a href="/forum/{{ user_info.username }}" class="fw-bolder">Forum</a></li>
                <li><a href="/hubungi_kami" class="fw-bolder">Contact</a></li>
                <div class="dropdown-menu-nav nav-dropdown">
                    <a class="navbar-brand dropdown-toggle" href="#" role="button" id="userDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false" style="background: transparent;">
                        {{ user_info.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown" style="background: transparent;">
                        <li><a class="dropdown-item"
                                href="/administrator/dashboard/{{ user_info.username }}">Dashboard</a></li>
                        <li><a id="logout-button" class="dropdown-item" onclick="logout()" href="#">Logout</a></li>
                    </ul>

                </div>
            </ul>
        </nav>
        {% endif %}

        {% if user_info and user_info.role == 'member' %}
        <a href="/" class="logo">
            <img src="../static/images/ncc.png" alt="Logo">
        </a>
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul id="nav-links" class="nav-links">
                <li><a href="/" class="fw-bolder">Home</a></li>
                <li><a href="/about" class="fw-bolder">About</a></li>
                <li><a href="/mentor" class="fw-bolder">Mentor</a></li>
                <li><a href="/materi" class="fw-bolder">Matery</a></li>
                <li><a href="/forum/{{ user_info.username }}" class="fw-bolder">Forum</a></li>
                <li><a href="/hubungi_kami" class="fw-bolder">Contact</a></li>
                <div class="dropdown-menu-nav nav-dropdown">
                    <a class="navbar-brand dropdown-toggle" href="#" role="button" id="userDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false" style="background: transparent;">
                        {{ user_info.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown" style="background: transparent;">
                        <li><a class="dropdown-item" href="/profil/{{ user_info.username }}">Pengaturan Profil</a></li>
                        <li><a class="dropdown-item" href="/pembelianku">Pembelianku</a></li>
                        <li><a id="logout-button" class="dropdown-item" onclick="logout()" href="#">Logout</a></li>
                    </ul>

                </div>
                <!-- <li><a href="#" class="fw-bolder"> {{ user_info.username }} </a></li> -->
            </ul>
        </nav>
        {% endif %}

        {% if not user_info %}
        <a href="/home" class="logo">
            <img src="../static/images/ncc.png" alt="Logo">
        </a>
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul id="nav-links" class="nav-links">
                <li><a href="/" class="fw-bolder">Home</a></li>
                <li><a href="/about" class="fw-bolder">About</a></li>
                <li><a href="/login" class="fw-bolder">Mentor</a></li>
                <li><a href="/login" class="fw-bolder">Matery</a></li>
                <li><a href="/login" class="fw-bolder">Forum</a></li>
                <li><a href="/login" class="fw-bolder">Contact</a></li>
            </ul>

            <a id="Login" href="/login" class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 fw-bolder">Login</a>
        </nav>
        {% endif %}

    </header>

    <div id="nav-bar" style="margin-top: 85px; margin-left: 100px;">
        <input id="nav-toggle" type="checkbox">
        <div id="nav-header">
            <a id="nav-title" href="/materi" target="_blank">
                Nusa Academy Class
            </a>
            <label for="nav-toggle">
                <span id="nav-toggle-burger"></span>
            </label>
            <hr>
        </div>
        <div id="nav-content">
            <div class="nav-button">
                <i class="fas fa-check"></i><span><button onclick="filterClasses('front-end')">Front-end</button>
                </span>
            </div>
            <div class="nav-button">
                <i class="fas fa-check"></i><span><button onclick="filterClasses('back-end')">Back-end</button></span>
            </div>
            <div class="nav-button">
                <i class="fas fa-check"></i><span><button
                        onclick="filterClasses('fullstack')">Fullstack</button></span>
            </div>
            <hr>
            <div class="nav-button">
                <i class="fas fa-check"></i><span><button onclick="filterClasses('all')">All</button></span>
            </div>
            <div id="nav-content-highlight"></div>
        </div>
        <input id="nav-footer-toggle" type="checkbox">
        <div id="nav-footer">
            <div id="nav-footer-heading">
                <div id="nav-footer-avatar">
                    <img src="{{ url_for('static', filename=user_info.profile_pic_real)}}">
                </div>
                <div id="nav-footer-titlebox">
                    <a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public" target="_blank">{{
                        user_info.username }}</a>
                    <span id="nav-footer-subtitle">{{ user_info.role }}</span>
                </div>
                <label for="nav-footer-toggle">
                    <i class="fas fa-caret-up"></i>
                </label>
            </div>
            <div id="nav-footer-content">
                Selamat Membeli
            </div>
        </div>
    </div>

    <section class="wrapper">
        <div class="container-card">
            <h1 class="h1 text-center" style="margin-top: 20px; color: #fff;" id="pageHeaderTitle">Our Class</h1>
            <div class="row row-card" style="padding: auto; border-radius: 20px;">
                {% for materi in frontend_classes %}
                <div class="col-md-4 mb-4" style="margin-left: auto;
                margin-right: auto;" id="front-end" data-category="front-end">
                    <div class="nft">
                        <p
                            style="font-size: 20px; color: #fff; text-align: center; margin-top: 10px; text-decoration: solid; font-weight:700">
                            {{ materi['category'] }}</p>
                        <div class='main' id="class">
                            <img class='tokenImage'
                                src="{{ url_for('static', filename='images/' + materi['gambar_kelas']) }}"
                                alt="classimage" href="{{ url_for('transaksi', materi_id=materi['_id']) }}" />
                            <h2 class="judul-kelas">{{ materi['nama_kelas'] }}</h2>
                            <p class='description'>{{ materi['deskripsi_kelas'] }}.</p>
                            <button class="read-more-btn">Read More</button>
                            <div class='tokenInfo'>
                                <div class="price">
                                    <ins>◘</ins>
                                    <p>Rp.{{ materi['harga_kelas'] }}</p>
                                </div>
                                <div class="duration">
                                    <ins></ins>
                                    <p>{{ materi['category'] }}</p>
                                </div>

                            </div>
                            <hr />
                            <div class='creator'>
                                <div class='wrapper'>
                                    <img src="../static/images/ncc.png" alt="Creator" />
                                </div>
                                <p><ins>Creation of Nusa Academy</ins></p>
                            </div>

                            {% if user_info and user_info.role == 'admin' %}
                            <form action="/delete_class" method="POST" class="delete-form" data-class-id="{{ materi['_id'] }}" >
                                <input type="hidden" name="id" value="{{ materi['_id'] }}">
                                <input type="hidden" name="gambar_kelas" value="{{ materi['gambar_kelas'] }}">
                                <button type="button" style="background: transparent;"
                                    class="btn btn-primary-gradient bg-transparent py-sm-3 px-4 px-sm-5 delete-button" >
                                    <a>Delete</a></button>
                            </form>
                            {% else %}
                            <a href="{{ url_for('transaksi', materi_id=materi['_id']) }}"
                                class="btn btn-primary-gradient bg-transparent py-sm-3 px-4 px-sm-5">Pesan Sekarang</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for materi in backend_classes %}
                <div class="col-md-4 mb-4" style="margin-left: auto;
                margin-right: auto;" data-category="back-end">
                    <div class="nft">
                        <p
                            style="font-size: 20px; color: #fff; text-align: center; margin-top: 10px; text-decoration: solid; font-weight:700">
                            {{ materi['category'] }}</p>
                        <div class='main' id="class">
                            <img class='tokenImage'
                                src="{{ url_for('static', filename='images/' + materi['gambar_kelas']) }}" alt="NFT" />
                            <h2 class="judul-kelas">{{ materi['nama_kelas'] }}</h2>
                            <p class='description'>{{ materi['deskripsi_kelas'] }}.</p>
                            <button class="read-more-btn">Read More</button>
                            <div class='tokenInfo'>
                                <div class="price">
                                    <ins>◘</ins>
                                    <p>Rp.{{ materi['harga_kelas'] }}</p>
                                </div>
                                <div class="duration">
                                    <ins></ins>
                                    <p>{{ materi['category'] }}</p>
                                </div>
                            </div>
                            <hr />
                            <div class='creator'>
                                <div class='wrapper'>
                                    <img src="../static/images/ncc.png" alt="Creator" />
                                </div>
                                <p><ins>Creation of Nusa Academy</ins></p>
                            </div>
                            {% if user_info and user_info.role == 'admin' %}
                            <form action="/delete_class" method="post" class="delete-form" data-class-id="{{ materi['_id'] }}">
                                <input type="hidden" name="id" value="{{ materi['_id'] }}" >
                                <input type="hidden" name="gambar_kelas" value="{{ materi['gambar_kelas'] }}">
                                <button type="submit" style="background: transparent;"
                                    class="btn btn-primary-gradient bg-transparent py-sm-3 px-4 px-sm-5">
                                    <a>Delete</a></button>
                            </form>
                            {% else %}
                            <a href="{{ url_for('transaksi', materi_id=materi['_id']) }}"
                                class="btn btn-primary-gradient bg-transparent py-sm-3 px-4 px-sm-5">Pesan Sekarang</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for materi in fullstack_classes %}
                <div class="col-md-4 mb-4" style="margin-left: auto;
                margin-right: auto;" data-category="fullstack">
                    <div class="nft" id="class">
                        <p
                            style="font-size: 20px; color: #fff; text-align: center; margin-top: 10px; text-decoration: solid; font-weight:700">
                            {{ materi['category'] }}</p>
                        <div class='main'>
                            <img class='tokenImage'
                                src="{{ url_for('static', filename='images/' + materi['gambar_kelas']) }}" alt="NFT" />
                            <h2 class="judul-kelas">{{ materi['nama_kelas'] }}</h2>
                            <p class='description'>{{ materi['deskripsi_kelas'] }}.</p>
                            <button class="read-more-btn">Read More</button>
                            <div class='tokenInfo'>
                                <div class="price">
                                    <ins>◘</ins>
                                    <p>Rp.{{ materi['harga_kelas'] }}</p>
                                </div>
                                <div class="duration">
                                    <ins></ins>
                                    <p>{{ materi['category'] }}</p>
                                </div>
                            </div>
                            <hr />
                            <div class='creator'>
                                <div class='wrapper'>
                                    <img src="../static/images/ncc.png" alt="Creator" />
                                </div>
                                <p><ins>Creation of Nusa Academy</ins></p>
                            </div>
                            {% if user_info and user_info.role == 'admin' %}
                            <form action="/delete_class" method="post" class="delete-form" data-class-id="{{ materi['_id'] }}">
                                <input type="hidden" name="id" value="{{ materi['_id'] }}">
                                <input type="hidden" name="gambar_kelas" value="{{ materi['gambar_kelas'] }}">
                                <button type="submit" style="background: transparent;"
                                    class="btn btn-primary-gradient bg-transparent py-sm-3 px-4 px-sm-5">
                                    <a>Delete</a></button>
                            </form>
                            {% else %}
                            <a href="{{ url_for('transaksi', materi_id=materi['_id']) }}"
                                class="btn btn-primary-gradient bg-transparent py-sm-3 px-4 px-sm-5">Pesan Sekarang</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        </div>
    </section>





    <!-- ini footer -->
    {% extends "footer.html" %}

    <!-- ... rest of your HTML code ... -->

    <div id="popup" style="display: none; position: fixed; bottom: 0; right: 0; background: lightblue; padding: 20px;">
        This is a pop-up!
    </div>

</body>








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/counterup/1.0.0/jquery.counterup.min.js"></script>

</body>

</html>