<footer class="bg-dark">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <a href="#"> <!--<img src="./New folder/Images/1534080972.svg" alt="">!--> </a>
                </div>

                <!-- <p> Nusa Academy .
                </p> -->
                <p>&copy; 2024 Nusa Academy.</p>

                <div class="linelast"></div>
                <div>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-github-fill"></i></a>
                    <a href="#"><i class="ri-line-fill"></i></a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <h5 class=" text-white mb-0">Profile</h5>
                    <div class="line"></div>
                    <ul>
                        <li> <a href="#">About</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <h5 class=" text-white">Feature</h5>
                    <div class="line"></div>
                    <ul>
                        <li> <a href="#"> Forum</a></li>
                        <li> <a href="#"> Mentor</a></li>
                        <li> <a href="#"> Matery</a></li>
                        <li> <a href="#"> Class</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <h5 class=" text-white">Contact</h5>
                    <div class="line"></div>
                    <ul>
                        <li> <a href="#"> Jakara, Indonesia </a></li>
                    </ul>
                </div>


            </div>
        </div>
</footer>
